@import "reset.css";
@import "normalize.css";

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);

body{
	font: normal 14px 'Open Sans', Arial, sans-serif;
	color: #999;
	background-image: url("https://download.unsplash.com/photo-1418225043143-90858d2301b4");
	background-repeat: no-repeat;
}

.wrap {
	width: 400px;
	margin: 0 auto;
}

.task-list{
	width: 88%;
	min-height: 300px;
	background: #fff;
	box-shadow: 2px 2px 0px #ddd;
	margin-top: 40px;
	padding: 22px 6%; 
}