@import "reset.css";
@import "normalize.css";

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);

body{
	font: normal 14px 'Open Sans', Arial, sans-serif;
	color: #999;
	background-image: url("http://www.patternpictures.com/wp-content/uploads/2014/08/pp-bluegraphicscale-1408101600.png");
}

.wrap {
	width: 400px;
	margin: 0 auto;
}

.task-list{
	width: 88%;
	min-height: 300px;
	background: #fff;
	/*box-shadow: 2px 2px 0px #ddd;*/
	margin-top: 40px;
	padding: 22px 6%; 
	border: 2px solid black;
}

#title{
	height: 55px;
	padding-top: 35px;
	color: black;
	text-align: center;
	font-size: 50px;
	font-family: 'Lobster', cursive;
	margin-bottom: 40px;
}

#box{
	padding-top: 20px;
	padding-left: 120px;

}

#in{
	border: 1px solid black;
}

#ending{
	height: 55px;
	padding-top: 35px;
	color: black;
	text-align: center;
	font-size: 30px;
	font-family: 'Lobster', cursive;
	/*margin-bottom: 40px;*/
}
